@model PS4.Models.Applicant

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Identity
@using PS4.Areas.Identity.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager



@{
/*
Author: Haoran Geng
Partner:   None
Date:      8 / 30 / 2021
Course:    CS 4540, University of Utah, School of Computing
Copyright: CS 4540 and Haoran Geng - This work may not be copied for use in Academic Coursework.


File Contents:
This page is an application page.

Re-write all details code.
Re-designed UI.

10/19
An applicate can only view or edit his own data
Administrator can view and edit the page
Professor can view the page
*/
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
    var role = await UserManager.GetRolesAsync(user);
    if (role.Contains("Applicant"))
    {
        if (user.Id != Model.UserId)
        {
            <h1>You cannot view other student's application</h1>
            <p><a asp-area="" asp-controller="Applications" asp-action="Index">Go back to index</a></p>
            return;
        }
        else
        {
        <h1>Details</h1>
        <h4>Applicant</h4>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                    <figure id="p_photo">
                        <img class="apphoto" src="/images/JimRaynor_SC2_Head2.jpg" alt="Picture of Jim" />
                    </figure>
                    <div class="margin-20px-top">
                        <ul class="info_list no-margin">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i> Github
                                </a>
                            </li>
                            <li>
                                <a href="@Model.LinkedIn">
                                    <i class="fab fa-linkedin"></i> Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="profile padding-50px-left sm-no-padding-left">
                        <!--make a class for names and UID. may be used for database or js-->
                        <h1 class="aplicantID">@Model.FirstName, @Model.LastName</h1>
                        <p></p>
                        <h5 class="ap_uid">@Model.uID</h5>
                        <p><b>Personal Statement</b></p>
                        <p id="personal_statement">
                            @Model.Statement
                            <!--copy from wiki-->
                        </p>
                        <div class="contact_info margin-40px-tb">
                            <ul class="info_list no-margin">
                                <!--Academic Info-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-graduation-cap" ::before> </i>
                                            <strong class="margin-10px-left">Academic Info: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.CurrentDegree, @Model.CurrentProgram</p>
                                        </div>
                                    </div>
                                </li>
                                <!--interested in-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4" style="color:orange">
                                            <i class="fa fa-star" ::before> </i>
                                            <strong class="margin-10px-left">Interested In: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            @foreach (var item in Model.Application)
                                            {
                                                <p>@Html.DisplayFor(modelItem => item.Course.Title) @Html.DisplayFor(modelItem => item.Course.CourseID) </p>
                                            }

                                        </div>
                                    </div>
                                </li>
                                <!--GPA-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4" style="color:orange">
                                            <i class="fa fa-star" ::before> </i>
                                            <strong class="margin-10px-left">GPA: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.GPA</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Work time-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4" style="color:red">
                                            <i class="fa fa-check-square " ::before> </i>
                                            <strong class="margin-10px-left">Maxium Work Hours: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.WorkHours</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Academic Info-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-phone-square"> </i>
                                            <strong class="margin-10px-left">Phone Number: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Phone</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Email-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-address-book"> </i>
                                            <strong class="margin-10px-left">Email: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Email</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Address-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">Address: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Address</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Semesters-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">Semesters at U: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Semesters</p>
                                        </div>
                                    </div>
                                </li>
                                <!--EnglishFluency-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">English Fluency: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.EnglishFluency</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Resume-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-address-book"> </i>
                                            <strong class="margin-10px-left">Resume: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Resume</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Resume-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">Creation Date: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.CreationDate</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
            <a class="btn btn-primary" asp-action="List">Back to List</a>
        </div>
        }
    }
    else
    {
        <h1>Details</h1>
        <h4>Applicant</h4>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                    <figure id="p_photo">
                        <img class="apphoto" src="/images/JimRaynor_SC2_Head2.jpg" alt="Picture of Jim" />
                    </figure>
                    <div class="margin-20px-top">
                        <ul class="info_list no-margin">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i> Github
                                </a>
                            </li>
                            <li>
                                <a href="@Model.LinkedIn">
                                    <i class="fab fa-linkedin"></i> Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="profile padding-50px-left sm-no-padding-left">
                        <!--make a class for names and UID. may be used for database or js-->
                        <h1 class="aplicantID">@Model.FirstName, @Model.LastName</h1>
                        <p></p>
                        <h5 class="ap_uid">@Model.uID</h5>
                        <p><b>Personal Statement</b></p>
                        <p id="personal_statement">
                            @Model.Statement
                            <!--copy from wiki-->
                        </p>
                        <div class="contact_info margin-40px-tb">
                            <ul class="info_list no-margin">
                                <!--Academic Info-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-graduation-cap" ::before> </i>
                                            <strong class="margin-10px-left">Academic Info: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.CurrentDegree, @Model.CurrentProgram</p>
                                        </div>
                                    </div>
                                </li>
                                <!--interested in-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4" style="color:orange">
                                            <i class="fa fa-star" ::before> </i>
                                            <strong class="margin-10px-left">Interested In: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            @foreach (var item in Model.Application)
                                            {
                                                <p>@Html.DisplayFor(modelItem => item.Course.Title) @Html.DisplayFor(modelItem => item.Course.CourseID) </p>
                                            }

                                        </div>
                                    </div>
                                </li>
                                <!--GPA-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4" style="color:orange">
                                            <i class="fa fa-star" ::before> </i>
                                            <strong class="margin-10px-left">GPA: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.GPA</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Work time-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4" style="color:red">
                                            <i class="fa fa-check-square " ::before> </i>
                                            <strong class="margin-10px-left">Maxium Work Hours: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.WorkHours</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Academic Info-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-phone-square"> </i>
                                            <strong class="margin-10px-left">Phone Number: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Phone</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Email-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-address-book"> </i>
                                            <strong class="margin-10px-left">Email: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Email</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Address-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">Address: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Address</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Semesters-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">Semesters at U: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Semesters</p>
                                        </div>
                                    </div>
                                </li>
                                <!--EnglishFluency-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">English Fluency: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.EnglishFluency</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Resume-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-address-book"> </i>
                                            <strong class="margin-10px-left">Resume: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.Resume</p>
                                        </div>
                                    </div>
                                </li>
                                <!--Resume-->
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 col-4">
                                            <i class="fa fa-check-square"> </i>
                                            <strong class="margin-10px-left">Creation Date: </strong>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <p>@Model.CreationDate</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
            <a class="btn btn-primary" asp-action="List">Back to List</a>
        </div>
    }
}
